# Naive Bayes Implementation

Referencias:
- http://artificiencia.com/aprenda/algoritmo-naive-bayes/
- https://chrisalbon.com/machine_learning/naive_bayes/naive_bayes_classifier_from_scratch/ (DONE)
- https://hackinganalytics.com/2016/10/13/desvendando-o-classificador-naive-bayes/
- https://towardsdatascience.com/naive-bayes-in-machine-learning-f49cc8f831b4


1. Dado um dataset, calcular probabilidade de cada classe
    - P(Jogar = Sim) = 9/14;
    - p(Jogar = Nao) = 5/14;
2. Calcular probabilidade de cada atributo
    - P(Genero = Sol | Target = Sim) = 2/9;
    - Continua...
    
    
## Dúvidas
R: Sobre o treinamento, o que é o treinamento do Navie Bayes.<br>
R: Treinamento é as `probabilidade condicional`

In [1]:
import pandas as pd
import numpy as np

dataset = pd.read_csv('dataset/dataset.csv')
dataset.head(10)

  Genero             Idade Escolaridade Profissao  Target
0      F  a - Ate 25 anos   Fundamental         b       0
1      M  a - Ate 25 anos         Medio         d       1
2      F  c - 36 a 45 anos  Fundamental         a       1
3      M  d - 46 a 55 anos  Fundamental         a       0
4      F  c - 36 a 45 anos  Fundamental         b       1
5      F  b - 26 a 35 anos  Fundamental         b       0
6      F  a - Ate 25 anos   Fundamental         b       0
7      F  e - Mais 56 anos     Superior         b       1
8      F  a - Ate 25 anos      Superior         b       1
9      M  b - 26 a 35 anos  Fundamental         a       1

### Probabilidade de Target ser 0 ou 1

In [2]:
# Counters
n_tg_zero = dataset['Target'][dataset['Target']==0].count()
n_tg_one = dataset['Target'][dataset['Target']==1].count()

n_all = dataset['Target'].count()

In [3]:
p_tg_zero = n_tg_zero/n_all
p_tg_one = n_tg_one/n_all

In [5]:
p_f_zero = dataset[(dataset['Genero']=='F') & (dataset['Target']==0)]['Genero'].count()/dataset['Genero'][dataset['Genero']=='F'].count()
p_f_zero

0.2006861063464837